@model ProductShop.Models.ProductViewModel
@{
    ViewBag.Title = "Model";
}

<div class="row">
    <div class="col-md-8">
        <h2>@Model.Product.Title</h2>
        <img class="product-image" src="@Model.Product.ImagePath" alt="@Model.Product.Title" />
        <div class="price" >
            <span class="price-tag">Price: </span>@Model.Product.Price
        </div>
        <p><a class="btn btn-default" href="/edit/product/@Model.Product.Id">Edit</a></p>
    </div>
</div>

